@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:  'Poppins', sans-serif;
}
img{
    width: 100%;
}
.section-a{
    background-color: rgb(177, 177, 162);
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
.section-a h1{
    font-weight: 700;
    font-size: 50px;
}
.section-a p{
    font-size: 20px;
}
.subb{
    font-size: 11px;
}
.section-b-i{
    padding: 20px;
    max-width: 1300px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-b{
    max-width: 1300px;
    padding: 20px;
    margin: 30px auto;
    border: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;

}
.section-b img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}
.subsection-bb{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.section-c{
    background-color: rgb(236, 241, 240);
    max-width: 1300px;
    padding: 20px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.aa{
    font-size: 33px;
    font-weight: 550;
}
.subsection-c-i{
    padding: 30px;
    margin: 30px auto;
    justify-items: center;

}
.cap33{
    height: 60px;
    width: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.section-d{
    background-color: #1D2B37;
    /* max-width: 1300px; */
    padding: 20px;
    min-height: 500px;
    /* margin: 30px auto; */
    display: grid;
    justify-content: center;
    align-items: center;
}
.section-d-i{
    max-width: 1300px;
    padding: 20px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.section-d-i h2{
    color: whitesmoke;
}
.section-d-i h3{
    color: whitesmoke;
}
.section-d-i p{
    color: #6395b0;
}
















@media screen and (max-width:800px){
    
.section-a{
    height: 500px;
}
.section-a h1{
    font-size: 35px;
    font-weight: 600;
}

.section-b{

    grid-template-columns: 1fr;

}
.section-c{
   
    grid-template-columns: 1fr;
}
.section-d-i{
    grid-template-columns: 1fr;
}

}
